.container
= simple_form_for @pair, :html => { :class => 'form-horizontal' } do |f|
  .row
    .col-md-6
      = f.input :word, label: "Слово"
  .row
    .col-md-6
      = f.input :translate1, label: "Перевод 1"
  .row
    .col-md-6
      = f.input :translate2, label: "Перевод 2"
  .row
    .col-md-6
      = f.input :translate3, label: "Перевод 3"
  .row
    .col-md-6
      = f.input :translate4, label: "Перевод 4"
  .row
    .col-md-6
      = f.association :books, collection: Book.order(:name), label: "Учебники"
  .row
    .col-md-6
      = f.association :word_classes, collection: WordClass.order(:name), label: "Части речи"
  .row
    .col-md-6
      = f.button :submit, "Сохранить", :class => 'btn-primary'
      = link_to "Отмена", pairs_path, :class => 'btn btn-default'
