= simple_form_for @word_class, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = error_span(@word_class[:name])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), word_classes_path, :class => 'btn btn-default'
