= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  .row
    .col-md-4
      = f.input :email
  .row
    .col-md-4
      = f.input :password
  .row
    .col-md-4
      = f.input :password_confirm
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default'
