= simple_form_for @book, :html => { :class => 'form-horizontal' } do |f|
  .row
    .col-md-6
      = f.input :name, label: "Название"
  .row
    .col-md-6
      = f.input :publisher, label: "Издательство"
  .row
    .col-md-6
      = f.input :year, label: "Год"
  .row
    .col-md-6
      = f.input :author, label: "Автор"
  .row
    .col-md-6
      = f.button :submit, "Сохранить", :class => 'btn-primary'
      = link_to "Отмена", books_path, :class => 'btn btn-default'
