= simple_form_for @book, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = error_span(@book[:name])
  = f.input :publisher
  = error_span(@book[:publisher])
  = f.input :year
  = error_span(@book[:year])
  = f.input :author
  = error_span(@book[:author])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), books_path, :class => 'btn btn-default'
